/* font link */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,900&display=swap');
/* font link */

/* general design start */
*{
    max-width: 100%;
}
body{
    font-family: 'Roboto', sans-serif;
}

.custom-container{
    padding: 10px 150px;
    /* height: 76px; */
}

@media (max-width: 992px){
    .custom-container{
        padding: 0;
    }
}
/* general design end */

/* custom nav style start */
.custom-nav{
    background-color: #ffffff;
    height: 76px;
}

.nav-list{
    font-size: 18px;
    margin: 0 5px;
    font-weight: 400;
    text-transform: capitalize;
}
.custom-nav-link{
    color: #888888;
}

.contact-us{
    color: #ffffff !important;
    border-radius: 5px;
    background-color: #2979F2;
    padding: 8px 20px !important;
}
/* custom nav style start */

/* header design start */
.custom-header{
    background-color: #2979F2;
    height: 540px;
}



@media (max-width: 768px){
    .header-content{
        margin-top: 10px !important;
    }
    .custom-header{
        height: 680px !important;
    }
    .custom-img-position{
        top: 50px !important;
        width: 80% !important;
        right: 10% !important;
    }
}

@media (max-width: 576px){
    .header-content{
        margin-top: 10px !important;
    }
    .custom-header{
        height: 585px !important;
    }
    .custom-img-position{
        top: 50px !important;
    }
}



.header-content{
    margin-top: 140px;
    margin-left: 20px;
}
.header-content h1, h6{
    font-weight: 500;
    color: white;
    letter-spacing: 1px;
}

.header-content h1{
    font-size: 56px;
    margin-bottom: 20px;
}
.header-content h6{
    font-size: 20px;
    margin-bottom: 40px;
}

.header-btn{
    color: #2979F2;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    padding: 10px 24px;
    background-color: #ffffff;
    border-radius: 5px;
    letter-spacing: 1px;
}
.header-img{
    position: relative;
}
.custom-img-position{
    position: absolute;
    top: 218px;
    right: 10px;
}
/* header design end */

/* company extension design start */
.extension-header{
    margin-top: 100px;
}
.extension-header h1,p{
    color: #2B2B2B;
    width: 80%;
    max-width: 80%;
    margin: 0 auto 24px auto;
    text-align: center;
}

.extension-header h1{
    font-size: 50px;
}

.extension-header p{
    font-size: 20px;
}
.extension-items{
    width: 100%;
}
.extension-item{
    margin-bottom: 50px;
}
.extension-item i{
    font-size: 25px;
    color: #2979F2;
    display: inline-block;
}
.extension-item span{
    font-size: 27px;
    display: inline-block;
    color: #2979F2;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 1px;
}

.extension-item p{
    text-align: left;
    margin: 20px 0 !important;
    width: 100% !important;
    font-size: 20px;
    font-weight: 400;
    color: #2B2B2B;
}

.extension-item a{
    font-size: 18px;
    font-weight: 500;
}

.extension-item i{
    font-size: 22px;
}

@media (max-width: 1200px){
    .custom-container{
        padding: 0;
    }
}

@media (max-width: 576px){
    .extension-item{
        margin-left: 30px !important;
    }
}
/* company extension design end */

/* offer design start */
.offer{
    background-color: #fafafa;
    text-align: left;
}
.offer p{
    text-align: left    ;
}
/* offer design end */

/* success story design start */
.story-header{
    background-color: #2979F2;
}

.story-header h3{
    text-align: center;
}

.story-header img{
    width: 75% !important;
    margin: 0 auto !important;
}
.success-content{
    height: 100%    ;
}

.row{
    margin: 0 !important;
}

.story-text-content{
    padding: 0 30px;
}

.story-text-content h4{
    margin-bottom: 30px !important;
}
/* success story design end */